<?xml version="1.0" encoding="utf-8"?>
<menu xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:android="http://schemas.android.com/apk/res/android">


    <item
        android:id="@+id/primero"
        android:title="Item" />
    <item
        android:id="@+id/segundo"
        android:title="Item" />
    <item
        android:id="@+id/tercero"
        android:title="Item" />
    <item
        android:id="@+id/cuarto"
        android:icon="@android:drawable/ic_menu_edit"
        android:title="Item"
        app:showAsAction="ifRoom" />
</menu>